body {
    font-family: "Open Sans", Arial, sans-serif;
}

.profileHeader {
    display: flex;
    justify-content: space-around;
    height: 100%;
    width: 100%;
    position: relative;

}

hr {
    visibility: hidden;
}

.profileImage {
    margin: auto 10%;
    height: 110px;
    width: 110px;
    min-width: 110px;
    max-width: 110px;
}

.profileName {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.profileNumbers {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.imageGallary {
    position: relative;
   
     /**
   * User input values.
   */
  --grid-layout-gap: 5px;
  --grid-column-count: 8;
  --grid-item--min-width: 220px;

  /**
   * Calculated values.
   */
  --gap-count: calc(var(--grid-column-count) - 1);
  --total-gap-width: calc(var(--gap-count) * var(--grid-layout-gap));
  --grid-item--max-width: calc((100% - var(--total-gap-width)) / var(--grid-column-count));

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(max(var(--grid-item--min-width), var(--grid-item--max-width)), 1fr));
  grid-gap: var(--grid-layout-gap);
  justify-items: center;
}



@media screen and (max-width: 700px) {
    body {
        background-color: red;
    }

    hr {

        visibility: visible;
        border: 1px solid black;
        width: 90%;
    }

    .profileNT {
        display: flex;
        flex-direction: column-reverse;
    }


   

}

@media screen and (max-width: 220px) {
    body {
        background-color: green;
    }

    

}